body{
    background-image: url(./images/hand-drawn-abstract-background-design_481527-39489.avif);
    background-repeat: no-repeat;
    background-size:cover;
   }
   
   .singin-Handler{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       border: 1px solid #465b52;
       padding: 80px;
       border-radius: 8px;
       box-shadow: 20px 20px 30px rgba(255, 105, 180, 0.08); /* Pink color with opacity */
       background-color: rgba(255, 255, 255, 0.536);
   }
   .button-handler{
       padding: 12px 20px;
       background-color: pink;
       border: none;
   }
   .button-handler a{
    text-decoration: none;
    color: white;
   }
   .button-handler:hover{
   background-color: rgb(255, 136, 156);
   }
   .Resgister{
       text-decoration: none;
       color: black;
       justify-content: center;
       padding: 8px 12px;
   }