.card {
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-5px);

  }

  .card-header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .row {
    font-size: 1.1rem;
  }

  #logoutBtn{
    display: flex;
    align-items: center;

  }
  #logoutBtn:hover {
    transform: scale(1.05);
  }